$primary-font: Montserrat-Light;
.spacer {
  flex: 1 1 auto;
}
.log-controls {
  color: white;
  position: relative;
  z-index: 100;
  float: right;
  top:0;
  .sign-up,
  .sign-in,
  .create {
    font-family: $primary-font;
    margin-right: 1.4rem;
  }
}
