<div id="home-page-container"></div>
<div class="home-menu">
  <div class="welcome-title">
    Welcome to Guest Room
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="main-div__items" *ngIf="!isLoading && rooms.length">
    <mat-card *ngFor="let room of rooms" class="main-card__item">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ room.roomName }}</mat-card-title>
        <mat-card-subtitle>{{ room.roomPrice }}</mat-card-subtitle>
      </mat-card-header>
      <img
        style="height: 100px;"
        mat-card-image
        [src]="room.roomImage"
        [alt]="room.roomName"
      />
      <mat-card-content>
        <p>
          {{ room.roomDescription }}
        </p>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="paginator-div">
    <mat-paginator
      [length]="totalRooms"
      [pageSize]="roomsPerPage"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</div>
