/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(./assets/fonts/montserrat/Montserrat-Thin.otf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(./assets/fonts/montserrat/Montserrat-Light.otf);
}
